# Bonus: Temperature Analysis I

Hawaii is reputed to enjoy mild weather all year. Is there a meaningful difference between the temperature in, for example, June and December?

In [15]:
import pandas as pd
from datetime import datetime as dt

In [16]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [17]:
# Convert the date column format from string to datetime
df['datetime']= pd.to_datetime(df['date'], format="%Y-%m-%d")

df.head()

       station        date  prcp  tobs   datetime
0  USC00519397  2010-01-01  0.08    65 2010-01-01
1  USC00519397  2010-01-02  0.00    63 2010-01-02
2  USC00519397  2010-01-03  0.00    74 2010-01-03
3  USC00519397  2010-01-04  0.00    76 2010-01-04
4  USC00519397  2010-01-06   NaN    73 2010-01-06

In [18]:
# Set the date column as the DataFrame index
df.set_index('datetime', inplace=True)

In [19]:
# Drop the date column
df.drop('date', axis =1, inplace = True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19550 entries, 2010-01-01 to 2017-08-23
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   prcp     18103 non-null  float64
 2   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 610.9+ KB

### Compare June and December data across all years

In [6]:
from scipy import stats

In [35]:
# Filter data for desired months
#The previous DF was converted into a DateTimeIndex, therefore we need to reference the
#Index column where month = 6 (June)
june_df = df[df.index.month==6].dropna()

june_df.head()

december_df = df[df.index.month==12].dropna()
december_df.head()

                station  prcp  tobs
datetime
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [36]:
# Identify the average temperature for June
avg_june = june_df['tobs'].mean()
avg_june

74.88754764930114

In [37]:
# Identify the average temperature for December
avg_dec = december_df['tobs'].mean()
avg_dec

70.93024911032029

In [38]:
# Create collections of temperature data
june_temps = june_df['tobs']
dec_temps = december_df['tobs']

In [40]:
# Run unpaired t-test becasue they are different sample sizes
stats.ttest_ind(june_temps, dec_temps)

Ttest_indResult(statistic=30.865349991562194, pvalue=9.8415346259008e-182)

### Analysis

Fromt the t-test undertaken, there is a significant difference between average temperature in December compared to average temperature in July (p<0.001)